body {
  padding-top: 20px!important;
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
}

body.login-reset {
}

body.login-error {
  color: '#000'!important;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #1fad5c;
}

body.login-layout {
  color: '#000'!important;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #f9f9f9;
  opacity: 0.8;
  filter: alpha(opacity=50);
}

.break { clear: both; }

.banner-alert {
  text-align: center;
  margin: -20px -10px 15px -10px;
}

.banner {
  text-align: center;
  margin: -10px 0px 0px 0px;
}

.loading {
  position: fixed; /* or absolute */
  top: 40%;
  left: 50%;
  color: #404040;
  text-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

}

.error {
  /* color: #404040; */
  /* margin-top: 80px; */
  text-align: center;
}

.loading, .error h1 {
  font-size: 30px!important;
  font-weight: 300;
}

.inner_container {
  display: none;
  /* padding-top: 20px; */
}

.footer { display: none; }

.center {
  text-align: center;
}

.errors h2 {
  color: #FFBDBD!important;
}

.errors p {
  color: #FFBDBD!important;
}

.container {
  width: 100%!important;
}

img {
  /* max-width: 90%; */
}

p, h1, h2, h3 {
  white-space: pre-wrap;
}

label {
  color: #4d4d4d;
  cursor: pointer;
  display: block;
  font-weight: normal;
  line-height: 1.5;
  margin-top: 0.8rem;
  margin-bottom: 0.6rem;
}

.splash-container {
  /* display: none; */
}

.hidden {
  display: none;
}

input, textarea {
  display: inline!important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.email_access {
  background-color: #FFF;
  border: 1px solid #CCC;
  color: #696969;
  min-width: 150px;
  max-width: 280px;
  width: 100%;
}

.social {
    border-style: solid;
    border-width: 0px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    /* background-color: #008CBA; */
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

a.social:hover {
    color: #FFF;
}

.facebook {
  background-color: #3b5998;
  min-width: 150px;
  max-width: 280px;
  width: 100%;
}

.google {
  background-color: #dd4b39;
  min-width: 150px;
  max-width: 280px;
  width: 100%;
}

.linkedin {
  background-color: #007bb6;
  min-width: 150px;
  max-width: 280px;
  width: 100%;
}

.reset p {
  color: #878c8f!important;
  font-weight: 300;
}

.reset p {
  font-size: 14px!important;
  padding: 0;
  margin: 0;
  font-family: "open-sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  line-height: 1.8;
  position: relative;
  cursor: auto;
  /* text-align: center; */
}

.store {

}

.store h1 {
  font-weight: 900;
  font-size: 30px;
}

.store h2 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.8em;
  margin-bottom: 7px;
  color: #555459;
}

.store h3 {
  font-size: 15px;
  font-weight: 600;
}

.store label {
  font-size: 15px!important;
}

.text-error {
  color: #870000;
}

.store .text-danger {
  color: #870000;
}

input.has-error {
  border-bottom: 1px solid #c00!important;
}

#credit_card_form {
  text-align: left;
  margin: 0 auto;
  max-width: 320px;
  width: 100%;
  border: 1px solid red;
}

.debugger {
  background-color: #ccc;
  min-height: 100px;
  margin: -25px -10px 10px -10px;
  padding: 20px;
  font-family: courier!important;
}

.debugger h2 {
  font-size: 12px;
  font-weight: bold;
}

.debugger ul {
  margin-bottom: 10px;
}
.debugger li {
  font-size: 10px;
}
