<div class="reset">
  <div ng-hide="loading" ng-cloak>
    <div class='row'>
      <div class='small-12 columns'>
        <div class="location_logo ng-scope">
          <a href='{{brand.website}}'><img src="{{ brand.logo }}" class="logo" width='200'></img></a>
        </div>
        <hr>
      </div>
    </div>
    <!-- <div class='inner_container'> -->
      <div class='row'>
        <div class='small-12 medium-8 columns'>
          <p>You've arrived on the password reset page. If you need to change the password for your account, please do that here.</p>
        </div>
      </div>
      <div class='row'>
        <div class='small-12 medium-6 columns'>
          <guest-reset></guest-reset>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>


