<build-page></build-page>

<div ng-show="state.errors" ng-cloak>
  <div class='error'><span ng-bind-html="state.errors"></span></div>
</div>

<div ng-hide="state.errors" ng-cloak>
  <div class='row'>
    <div class='small-12 columns'>
      <div class="location_logo ng-scope" ng-hide="splash.header_image_name">
        <a href='{{splash.website}}'><img src="{{ splash.logo_file_name }}" ng-class="splash.header_image_type == 1 ? 'logo' : 'banner'"></img></a>
      </div>
      <div class="" ng-show="splash.header_image_name">
        <a href='{{splash.website}}'><img src="{{ splash.header_image_name }}" class='banner'></img></a>
      </div>
    </div>
  </div>
  <div class='inner_container'>
    <div class='row'>
      <div class='small-12 columns'>
        <logins-partial></logins-partial>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div id="" class="small-12 medium-6 columns">
      <a class="left" href="{{ splash.copyright }}">Powered by PolkaSpots</a>
    </div>
    <div id="footer-right" class="small-12 medium-6 columns">
      <a href="{{ splash.terms_url }}" class="right">Terms and Conditions</a>
    </div>
  </div>
</div>
